@config "../tailwind.config.ts";
@import "tailwindcss";

:root {
  --color-bg: #d8d9e2;
  --color-bg-secondary: #fff;
  --color-bg-tertiary: #f2f3f7;
  --color-bg-accent: #222;

  --color-fg: #020909;
  --color-fg-accent: #fff;

  --color-fg-secondary: #494a49;

  --color-primary: #def35c;
  --color-primary-foreground: #0f172a;
  --color-muted: #9ca3af;
  --color-border: #d1d5db;
}

.dark {
  --color-bg: #1a1b1d;
  --color-bg-secondary: #303338;
  --color-bg-tertiary: #383b40;
  --color-bg-accent: #f1f5f9;
  --color-fg: #f1f5f9;
  --color-fg-accent: #0f172a;
  --color-fg-secondary: #cbd5e1;
  --color-primary: #c5e300;
  --color-primary-foreground: #0f172a;
  --color-muted: #94a3b8;
  --color-border: #475569;
}

@theme {
  --color-primary: var(--color-primary);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-background: var(--color-bg);
  --color-foreground: var(--color-fg);
  --color-foreground-accent: var(--color-fg-accent);

  --color-muted: var(--color-muted);
  --color-border: var(--color-border);

  --color-background-secondary: var(--color-bg-secondary);
  --color-background-tertiary: var(--color-bg-tertiary);
  --color-background-accent: var(--color-bg-accent);

  --color-foreground-secondary: var(--color-fg-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-italiana);
}
